.formRange {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px; 
    align-items: flex-start;
    justify-items: stretch; 
    
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 16px; 
    }
}