.ContentPage {
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
  }

  @media (min-width: 1200px) {
    .custom-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 1300px) {
    .custom-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .custom-grid-item {
    height: 100%;
    display: flex;
    margin-top: -16px;
    align-items: flex-start !important;
  }
}
